<div class="jumbotron jumbotron-fluid" *ngIf="dashboard">
  <div class="container">
    <h1 class="display-4">Weather App</h1>
    <p class="lead">Get the weather based on your current location or by given location name</p>
  </div>
</div>
<div class="container">
  <div [class.dashboard]="dashboard" class="search-fields">
  <div class="location-form-container row justify-content-center">
    <div class="form-inline justify-content-center col-12">
      <label class="location-label" for="location">Location</label>
      <input #location type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="location" placeholder="Please enter location..." (input)="onSearchChange()">
      <button type="button" class="btn btn-primary" (click)="getWeatherByLocation(location.value)">Show weather</button>
    </div>
  </div>
  <div class="separator-location row justify-content-center">or</div>
    <div class="btn-location-container row justify-content-center">
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="getCurrentLocation(location)">Get weather based on your current location</button>
        <!--<a *ngIf="!dashboard" href="/" (click)="clearSearch()">Clear</a>-->
      </div>
    </div>
  </div>
    <div *ngIf="weatherInfo" class="row">
      <div class="col-lg-12">
        <h4>{{weatherInfo.name}}</h4>
        <h4>{{currentCity}}</h4>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top weather-card" *ngFor="let weather of weatherInfo.weather" src="../../../assets/icons/{{weather.icon}}.png" alt="Conditions Image">
          <div class="card-body">
            <h5 class="card-text">{{weatherInfo.main.temp}} {{temp_unit}}</h5>
            <p class="card-text" *ngFor="let weather of weatherInfo.weather">{{weather.description}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top weather-card" *ngFor="let weather of weatherInfo.weather" src="../../../assets/icons/thermometer.png" alt="Conditions Image">
          <div class="card-body">
            <p class="card-text">Max: {{weatherInfo.main.temp_max}} {{temp_unit}}</p>
            <p class="card-text">Min: {{weatherInfo.main.temp_min}} {{temp_unit}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top weather-card" src="../../../assets/icons/windmills_static.png" width="150px" alt="Conditions Image">
          <div class="card-body">
            <p class="card-text">{{weatherInfo.wind.speed}} miles/h</p>
            <p class="card-text">Wind direction: {{weatherInfo.wind.deg}}</p>
            <a class="card-text" href="http://snowfence.umn.edu/Components/winddirectionanddegreeswithouttable3.htm" target="_blank">Info</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card mb-4 box-shadow">
          <circle-progress
            [percent]="weatherInfo.main.humidity"
            [radius]="60"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4882c2'"
            [innerStrokeColor]="'#e7e8ea'"
            [animation]="true"
            [animationDuration]="300"
            [title]="weatherInfo.main.humidity"
          ></circle-progress>
          <div class="card-body">
            <p class="card-text">Humidity: {{weatherInfo.main.humidity}}%</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top weather-card" src="../../../assets/icons/clock.jpg" width="150px" alt="Conditions Image">
          <div class="card-body">
              <p class="card-text">Sunrise: {{weatherInfo.sys.sunrise * 1000 | date:'shortTime'}}</p>
              <p class="card-text">Sunset: {{weatherInfo.sys.sunset * 1000| date: 'shortTime'}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top weather-card" src="../../../assets/icons/visibility.png" width="150px" alt="Conditions Image">
          <div class="card-body">
            <div class="card-body">
              <p class="card-text">Visibility: {{weatherInfo.visibility}} meters</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
